#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

img {
  position: center;
  width: 250px;
  height: 250px;
}

h2, h4 {
  text-align: center;
}
